* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70vh;
}

.slide img {
  width: 100%;
  height: 100vh;
}

.content {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: center;
  flex-direction: column;
  background: #e5e5e5;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 20%;
}

.text {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.text h1 {
  text-align: center;
  padding-top: 20px;
  font-size: xx-large;
  font-style: normal;
  line-height: 40px;
  font-weight: 300;
  font-family: Roboto;
}

.text h2 {
  text-align: center;
  padding-top: 20px;
  font-size: x-large;
  font-style: normal;
  font-weight: 300;
  font-family: Roboto;
  text-decoration: underline;
}

.text h3 {
  text-align: center;
  padding-top: 20px;
  font-size: large;
  font-style: normal;
  line-height: 30px;
  font-weight: 300;
  font-family: Roboto;
}
