* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: Roboto;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70vh;
}

.content {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: center;
  flex-direction: column;
  background: #e5e5e5;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 20%;
}

.text {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.text h1 {
  text-align: center;
  padding-top: 20px;
  font-size: xx-large;
  font-style: normal;
  line-height: 40px;
  font-weight: 300;
}

.text h2 {
  text-align: center;
  padding-top: 20px;
  font-size: x-large;
  font-style: normal;
  font-weight: 300;
  text-decoration: underline;
}

.text h3 {
  text-align: center;
  padding-top: 20px;
  font-size: large;
  font-style: normal;
  line-height: 30px;
  font-weight: 300;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .content {
    display: none;
  }

  .content-mobile {
    padding-top: 20px;
  }

  .content .text {
    padding: 0 10px;
  }

  .container {
    width: 100%;
    margin-top: 20px;
  }

  .container img {
    max-width: 100%;
    padding: 0 10px;
    height: auto;
    object-fit: contain;
  }
}

@media all and (min-width: 768px) and (max-width: 960px) {
  .content-mobile {
    display: none;
  }

  .container img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}

@media all and (min-width: 961px) {
  .content-mobile {
    display: none;
  }

  .container img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}
